.wrapper-card{
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
}

.card{
    // width: 50%;
    position: relative;
    &:hover img{transform: scale(1.05);}
}
.titles{
    height: 40px;
}

.card-img-top{
    width: 100%;
    position: relative;
    transform: scale(1);
    transition: 0.3s;
    transition-delay: scale 0.2s;
    & :hover{
        transform: scale(1.05);
    }
}
    
    .card-title{    
    margin-top: 10px;
    font-size: 18px;

}