.Home{
    background-color: #40424a;
    padding: 20px;
    margin: 0 5px
}

.container-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;

    
}

.title-tendencias{
    color: whitesmoke;
}

@media (max-width: 600px){

    .overview{
        width: 500px;
    }
}