.Home{
    background-color: #40424a;
    padding: 20px;
    margin: 0 s50px;
}

.container-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;

    
}

.title-tendencias{
    color: whitesmoke;
}
