.Home{
    background-color: #40424a;
    padding: 30px;
}

.container-cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    
}

.title-tendencias{
    color: whitesmoke;
}
