
.movie-img{
    display: flex;
}

.container-img{
    width: 250px;
    height: 370px;
    margin: 10px 40px 40px 40px;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    position: relative;

}

.info-img{
    width: 100%;    
    height: 100%;
}

.movie-info{
    color: white;
    width: 450px;
    font-size: 12px;
}

@media (max-width: 600px){
    .movie-info{
        margin: 30px;
        height: 600px;
        
    }

    .info-img{
        width: 100%;
    }
    .movie-img{
        flex-direction: column;
        
    }
}
